<div class="post-title">
    <h2>Поиск новых сфер применения продукта и технологий.
        Схема Д. Абеля
    </h2>
</div>
<div class="post-description">
    <p>Собственные потребности бизнеса, как в случае компании <a href="/companies/GSS">GSS-soft</a>, обеспечивают, по оценкам японских специалистов,
        примерно 20% новых идей. Больше идей дает лишь сфера потребления – 50%. </p>
    <p>Путь от разработки новинки для собственных нужд к ее последующему тиражированию и поиску новых сфер применения
        – наименее рискованный с коммерческой точки зрения. </p>
    <p>Поиск потенциальных сфер применения новинок и соответственно возможных направлений развития продукта и технологий
        – слабо структурированный, творческий процесс. Он может опираться на методы мозгового штурма, benchmarking (метод аналогов,
        или лучших практик), широкий отраслевой поиск, анализ бизнес-систем в перспективных отраслях и т.д. Для этого требуется
        широкий кругозор, определенная проницательность и информированность, опыт подобной работы, наличие связей в деловой среде,
        коммуникабельность, навыки делового общения и другие качества. </p>
    <p><span style="text-decoration: underline">Методической основой</span>  поиска может быть трехмерная схема Абеля (Abell), или
        инновационная арена в терминологии R. Cooper. </p>
    <p>Европейский исследователь Дерек Абель, развивая идею И. Ансоффа о необходимости одновременной ориентации бизнеса на продукт
        и рынок (широко известная матрица Ансоффа), вводит третий измеритель в ориентации бизнеса – технологию. В соответствии со
        схемой Абеля поиск рекомендуется вести по трем осям: </p>
    <ul class="plus_list">
        <li><strong>Кто?</strong> – искать потенциальных потребителей / возможные сферы применения продукта;</li>
        <li><strong>Что?</strong> – определять потребности потенциальных покупателей (что им требуется, какая проблема может быть решена
            при использовании инновации);</li>
        <li><strong>Как?</strong>  – изучать возможности развития технологии, используемой при разработке и производстве продукта. </li>
    </ul>
    <img src="/public/img/articles/AbelScheme.png" style="max-width: 50%; margin: 20px" alt="">
    <p>Вертикальная ось для компании GSS-soft – это розничная торговля, школы, госучреждения, малые предприятия … .</p>
    <p>Горизонтальная ось – это разные опции в программах: мониторинг, контроль, передача и пр.</p>
    <p>Ось технологий – это использование разных платформ. </p>
    <p>Имея несомненную методическую ценность, схема Абеля сложна для восприятия, возможно, поэтому она не получила  столь широкого
        распространения, как двухмерные отображения поля стратегических альтернатив, такие как матрицы, дорожные карты и т.д. </p>
</div>