<div class="post-title">
    <h1>Конвергенция новинок </h1>
</div>
<div class="post-description">
    <p>Значимой тенденцией в сфере создания новых товаров и технологий является конвергенция новинок. Конвергенция
       (лат. convergere — схождение, сближение) является неизбежным следствием перенасыщения товарных рынков и огромного разнообразия
       товарного предложения. Результатом конвергенции являются новые категории новинок, среди которых автор выделяет:</p>
    <ul class="check_list">
        <li>новинки, которые сочетают в себе продукт + технологию;</li>
        <li>продуктовые платформы</li>
        <li>кобрэндинговые новинки</li>
        <li>wellness-продукты</li>
        <li>новинки, несущие новшество ценности, или забытое старое</li>
        <li>инновации бизнес-моделей на основе конвергенции товаров, технологий и услуг</li>
    </ul>

    <h2>Продукт + технология</h2>
    <p>Хотя всякое деление на категории довольно условно, тем не менее, можно говорить о
        тенденции создания новых продуктов, которые сочетают в себе продукт и технологию.</p>
    <img class="img-right" src="/public/img/articles/mp3player.png" alt=""/>
    <p>Долгое время процессы совершенствования носителей звуков (грампластинка, кассета, компакт-диск)
       и технологий их воспроизведения (патефон, проигрыватель, магнитофон и пр.) шли параллельно, пока не
       появился новый продукт — плейер. Изначально он был создан как компактный проигрыватель кассет. Появление mp3-плейера
       позволило соединить возможности записи, хранения и воспроизведения звуков в одном
       устройстве, иными словами, произошло объединение продукта и технологии.</p>
    <p>Если цифровой фотоаппарат еще можно назвать новым продуктом, хотя в нем продукт и технология
       записи и воспроизведения также объединены вместе, то что такое электронный билет — новый продукт
       (услуга) или новая технология продажи?</p>
    <p>Ожидается, что по мере перехода IT-отрасли в стадию зрелости информационные технологии будут все
       шире встраиваться в продукты, как это происходит в сфера банковских услуг, в компьютерах и сотовых телефонах.
       Инновации будут связаны с удобством доступа и использования, безопасностью информации и т. д.</p>
    <p>Другой тенденцией последнего времени является создание на базе новых продуктов некоторой «платформы» из
       дополнений и аксессуаров.</p>

    <h2>Продукт-платформа</h2>
    <p>Расширение мультиатрибутивной модели товара за счет включения в эту
       систему дополнительного уровня сопутствующих товаров и услуг, тесно связанных с базовым ядром,
       обеспечивающих создание уникального предложения для потребителей. Сформированная таким образом
       «платформа» должна обладать индивидуальностью или уникальными характеристиками, оказывать
       влияние на стиль жизни потребителей, поддерживать имидж бренда на рынке В2С или обеспечивать поставку
       «системных технологических решений» проблем клиента на рынке В2В.</p>
    <img class="img-left" src="/public/img/articles/tassimo.png" alt=""/>
    <p>Компания может создавать платформу товара собственными силами, либо чаще всего с привлечением
       потенциальных партнеров.</p>
    <p>Компания Nestle одной из первых стала фасовать раство римый кофе в пакетики на одну чашку. Однако
       Kraft Foods сумела отвоевать у Nestle 40% рынка, поскольку та плохо защитила свою интеллектуальную
       собственность. Почувство вав потенциал «кофейной» платформы, Kraft разработала систему Tassimo, использующую
       специальные картриджи для приготовления кофе, а также других горячих напитков, и
       запатентовала ее, увеличив прибыль от собственной платформы.</p>
    <p>В компании поняли, что Tassimo можно использовать и для получения маркетинговых данных.
       Научив свой аппарат распознавать, что и когда на нем готовят, и передавать (с разрешения клиента)
       эти данные с помощью сотовой связи, компания получила возможность собирать сведения о потреблении продуктов [1].</p>
    <p>Многие компании производят аксессуары и дополнения для плейера iPod компании Apple: есть автомобильные аксессуары,
       специальная модель джинсов Levi Strauss. Компания зарегистрировала марку Made
       for iPod. Платформа iPod названа одной из лучших новинок 2005 г.</p>

    <h2>Кобрэндинговые новинки</h2>
    <p>Являются результатом сотрудничества разных компаний, которые объединяют свои
       нематериальные активы для создания технических новинок.</p>
    <p>Итальянская Ferrari несколько лет сотрудничает с компанией Acer, выпуская мониторы и ноутбуки
       премиум-класса. Корпуса некоторых моделей изготовлены из углеродного волокна, который служит материалом для болидов
       «Формулы-1». Совместно с компанией Motorola выпущена кобрэндинговая модель
       сотового телефона, совместно с компанией Nokia — ограниченная партия трубок Ferrari Vertu.</p>

    <h2>Wellness-продукты</h2>
    <p>Модной тенденцией рынка потребительских товаров является wellness. Этим
       трудно переводимым на русский язык многогранным понятием обозначают «непрерывную и сознательную работу индивидуума
       над совершенствованием тела и духа, направленную на раскрытие собственного потенциала». Такие продукты, как правило,
       появляются на основе соединения свойств разных категорий продуктов, либо привнесения современных технологий в традиционные
       этнические продукты.</p>
    <img class="img-right" src="/public/img/articles/imunele.png" alt=""/>
    <p>Wellness-продукты, бьюти-еда — это перспективное направление развития пищевой промышленности, связанное с добавлением в
       продукты питания лечебных и профилактических комплексов. Человек стремится к красоте и ухоженности, но хотел бы, чтобы
       это стремление реализовывалось с легкостью: «Есть, чтобы быть красивым».</p>
    <p>Сегмент продуктов с функциональными (полезными) свойствами такими как Актимель, Neo Имунеле и
       другие за 2008 г. вырос на треть (это был восходящий тренд рынка).</p>
    <p>Немецкая компания Weko Pharma объединила традиции производства лекарственных и косметических средств с технологиями
       производства сладостей, в результате на рынок выведены конфеты, обладающие лечебными свойствами. Американская компания Borba
       с 2007 г. выпускает специальный напиток — «воду для красоты», которая способствует укреплению и омоложению кожи [2].</p>
    <p>Российская компания разработала инновационный продукт — безмолочный биоовсяный продукт со свойствами каши и йогурта Velle.
        Этот низкокалорийный диетический продукт изначально был создан по заказу Российского космического агентства для питания
        космонавтов, сейчас вышел на рынок функциональных продуктов.</p>
    <p>Другое направление развития wellness-продуктов — это изготовление одежды и предметов потребления в
       соответствии с обычаями старины, традициями других стран, на основе сочетания эк ологической чистоты,
       удобства, заботы о здоровье и пр.</p>
    <p>Популярность в мире завоевывают изделия из текстиля, изготовленные в соответствии с учением о
       телесном и душевном здоровье человека — аюрвастра (от индийского аюр — знание, вастра — одежда). Ткань
       изготавливают по древним технологиям из чистого органического хлопка, выращенного без использования
       химикатов, окрашивают растительными компонентами. В ткань вплетают волокна лечебных растений,
       обрабатывают эфирными маслами и вытяжками. Всего для изготовления «здоровой одежды» используется около 400 видов растений.</p>

    <h2>Новшество ценности, или забытое старое</h2>
    <p>Особая категория новинок — хорошо забытое старое.
        Потребители интересуются винтажными вещами, поэтому производители возобновляют производство
        давно забытых продуктов, либо выпускают их в коллекционных вариантах. Псевдоновинки такого рода могут быть результатом
        оживления спроса на ранее производившиеся товары (виниловые носители звука и проигрыватели для них, винтажная одежда, часы
        и иные аксессуары) или иного позиционирования товара.</p>
    <p>Кофе — один из старых всемирно известных потребительских продуктов. Окружающие его ритуалы
        во многих странах прочно связаны с традициями потребления. Компания Starbucks изменяет метод
        приготовления кофе, предлагая американцам напиток «эспрессо». Это старый напиток, который когда-то
        был плохо знаком всем, кто наслаждается им сегодня. Путем создания концепции кофейного бара Starbucks
        заново обучает американцев пить кофе и создает кофейную культуру.</p>

    <h2>Инновации моделей бизнеса</h2>
    <p>На основе конвергенции продуктов, услуг и технологий. В экономике
        избыточных товарных предложений, широкого разнообразия товаров и услуг происходит изменение
        моделей бизнеса в различных отраслях в направлении усиления творческой составляющей бизнеса, конвергенции товаров и
        технологий, расширения спектра услуг и т. д.</p>
    <p>Розничные площадки по продажам компьютерной техники меняются, они не успевают приспособиться к
        новым требованиям и нуждаются в <strong>веб-технологиях</strong>,интегрирующих интерфейсы для продавцов и покупателей
        в единую систему, представляющую товар «поумному» и тем, и другим. Каждый третий покупатель
        знает о продукте, за которым пришел, в 10 раз больше, чем продавцы-консультанты (вызов — информированность покупателей),
        которые должны обладать информацией об аксессуарах, о совместимости продуктов, о софте для гаджетов и пр.</p>
    <p>В этих условиях необходима технологичная база знаний с умной каталогизацией и системой поиска по
        ключевым частотным запросам (незаменимый стимулятор реальных продаж), которой будут пользоваться
        и потребители, и консультанты в магазине в процессе продаж.</p>
    <img class="img-right" src="/public/img/articles/ipad.png" alt=""/>
    <p>В этих условиях необходима технологичная база знаний с умной каталогизацией и системой поиска по
        ключевым частотным запросам (незаменимый стимулятор реальных продаж), которой будут пользоваться
        и потребители, и консультанты в магазине в процессе продаж.</p>
    <p>Развитие Интернет неизбежно ведет к появлению в сети бесплатных книг. Самый очевидный путь из-
        влечения прибыли от бесплатных книг — создание устройств типа Kindle компании Amazon или E-Book
        от Sony. В этом случае электронные книги могут быть бесплатными, но доступными только на определенном
        устройстве. Компания, владеющая устройством, сможет отработать стоимость книги через продажу самих
        устройств, программного обеспечения или рекламы. В этом случае «самопиратство» перестанет быть уделом
        отдельных передовых писателей (П. Коэльо выложил полный текст русской версии романа на своем
        сайте — продажи резко пошли вверх), а превратится в новую бизнес-модель всей книжной отрасли. Первопроходцами же,
        как часто бывает, окажутся именно пираты.</p>
    <p>С одной стороны, сложно представить современный рынок без постоянно появляющихся новинок, но
        с другой — придумать новинки становится все труднее, поэтому перспективной тенденцией является конвергенция новинок.</p>
</div>