#{extends 'main.html' /}
#{extends '../Application/article.html' /}
#{set title: messages.get('title')/}




    <div class="row-fluid article">
            <h3>Компания GSS-soft</h3>
        <div class="span8 article-main">
            <p>Компания GSS-soft создана в начале 2010 г.  Руководство связывает успехи компании с желанием сотрудников
                быть лучшими на рынке IT-технологий и своей заботой о них. </p>
            <p>Рассказывает руководитель компании:</p>
            <p>«У нас был продуктовый производственный холдинг с развитой розничной сетью. Когда розничных точек больше 15,
                они становятся бесконтрольными. Поиск вариантов решений кроме программы 1С, которая не отражает специфику розницы,
                ничего не дал, поэтому в 2007 г. было создано подразделение разработчиков, которое начало делать специальное
                программное обеспечение для нужд холдинга по управлению розничной торговлей. В 2009 г. я закончил обучение <strong>на
                программе МВА «Стратегический менеджмент» в НГУ</strong>, защитил данный проект и принял решение выделить группу разработчиков
                в отдельную компанию. Я понял, что если у меня и холдинга такие проблемы, то эти же проблемы есть у многих других. …  </p>
            <p>В конце 2011 г. компания победила в конкурсе  программы СТАРТ Фонда содействия развитию малых форм предприятий
                в научно-технической сфере (фонд Бортника), стала победителем VII конкурса «Пятьдесят лучших инновационных идей
                для Республики Татарстан».</p>
            <p>Затем мы нашли другие ниши, в других сферах. Это система школьного образования – автоматизация школьных столовых.
                У нас успешно прошел пилотный проект в лицее № 7 г. Бердска Новосибирской области. В партнерстве с компанией Дневник.ру
                мы продвигаем и внедряем наш проект в других регионах (Тамбов, Нижний Новгород, Иркутск и еще ряд городов),
                а также участвуем в разработке продуктов, которые принадлежат компании Дневник.ру. </p>
            <p>В дальнейшем в партнерстве с компанией Цитрус, которая занимается автоматизацией оказания госуслуг в соответствии
                с № 210-ФЗ (электронное правительство)  и входит в Фонд свободного программного обеспечения, мы  с помощью нашей
                программы внедряли их продукт на всей территории Новосибирской области. Сейчас мы поддерживаем и постоянно обновляем,
                расширяем  нашу программу и ведем переговоры с рядом областей по тиражированию этого продукта. </p>
            <p>В рамках автоматизации госучреждений сделали также «ситуационный центр министра образования области», еще ряд продуктов.</p>
            <p>На собственные средства разрабатываем ряд сервисов для малых предприятий. … </p>
            <p><strong>В чем уникальность нашей компании?</strong> – Мы очень хорошие интеграторы (работаем со всем спектром платформ) и у нас
                мощная команда профессионалов, которые проходят жесточайший отбор. Вместе с тем мы принимаем ребят без опыта,
                но с большим потенциалом. Ищем их на зимних и летних школах <a href="http://www.academpark.com/" target="_blank">Технопарка
                Новосибирского Академгородка</a> Плюс таких ребят: у них страха нет и креативность мышления выше, они не зажаты существующими
                профессиональными рамками. Бывает, что профессионал не может решить задачу, а стажер такое креативное решение
                предлагает, действительно нестандартное и рабочее, что мы в итоге его  внедряем. В больших проектах, особенно когда
                мы внедряли систему электронного правительства, шаблонов нет, там оказались важны идеи молодых ребят, их круглосуточная
                работа, что и привело к результату – Новосибирская область стала первой среди субъектов РФ по готовности к предоставлению госуслуг.</p>
            <p>Успех нашей компании – это ее стабильный рост, желание сотрудников ходить на работу, их ориентация на успех.
                У нас офис работает 24/7, то есть круглосуточно, потому что каждый работает по своему графику, когда ему удобно.
                В офисе созданы условия для комфортного творчества: есть кухня, куда привозят питание из кафе, есть душевая,
                комната отдыха. Оказываем мы и спортивную поддержку наших сотрудников – у нас заключен договор с клубом айкидо,
                инструкторы обучают желающих, для тех, кто длительное время занимается в спортивных секциях,
                еще и бесплатная экипировка. А по пятницам в офис привозят бесплатные фрукты или мясные изделия, чередуем –
                день фрукты, день колбаса. </p>
            <p>Да, мы компания молодая, пока не доросли до Google, Яндекс и даже ДубльГис, но мы стремимся сделать более комфортной
                работу наших сотрудников».</p>
        </div>
        <div class="span3">
            <p>Компания работает в сфере IT-технологий, занимается разработкой  и внедрением программных
                решений для органов управления, бизнеса и социальной сферы.</p>
            <p>Специфика развития компании – от инновационного решения проблем собственного бизнеса к
                <strong>тиражированию и поиску новых сфер применения продукта и технологий</strong>.</p>
            <strong>Ключевые проекты компании</strong>
            <ul>
                <li>Все под контролем: управление розничной торговлей малого и среднего формата.</li>
                <li>Электронная школьная столовая.</li>
                <li>Электронная проходная: система доступа в школу.</li>
                <li>Автоматизация государственных учреждений.</li>
                <li>Порталы большой емкости (ребрендинг портала Новосибирской области и Министерства культуры НСО и др.).</li>
            </ul>
            <strong>Конкурентные преимущества компании:</strong>
            <ul>
                <li>Комплексный подход к решению поставленных задач: от аудита, инновационных дизайнерских решений
                    до внедрения и долгосрочного сопровождения системы. Проекты «под ключ». </li>
                <li>Анализ и проработка нормативно-правовых актов, если это необходимо при реализации проекта.</li>
                <li>Использование широкого спектра информационно-технологических платформ, в том числе
                    свободного программного обеспечения. </li>
                <li>Высококвалифицированная команда специалистов: аналитики, интеграторы, …</li>
            </ul>
            <strong>Признание:</strong>
            <ul>
                <li>Компания – победитель VII конкурса «Пятьдесят лучших инновационных идей для Республики Татарстан» (декабрь 2011г).</li>
                <li>GSS является резидентом Технопарка Новосибирского Академгородка.</li>
            </ul>
            <a href="http://www.gss-soft.com " target="_blank"><strong>Сайт компании</strong></a>
        </div>
    </div>
