<div class="post-title">
    <h2>Инновационный проект как отдельный бизнес</h2>
</div>
<div class="post-description">
    <p>С теоретических позиций менеджмента инноваций следует, что инновационный проект должен быть выделен из
        структуры компании в дочернюю компанию или самостоятельное подразделение (бизнес-единицу). Такое обособление
        инновационного проекта в виде вновь созданной компании является обязательным условием венчурной формы финансирования.</p>
    <p>Российские компании, даже не ориентированные на привлечение инвестиций, используют этот механизм создания
        инновационных компаний, «отпочковывая» перспективные инновационные проекты в отдельные дочерние компании,
        как это сделала компания <a href="/companies/ARSTerm">АРС ТЕРМ</a>, выделив <a href="/companies/NIT">ООО НИТ</a>,
        <a href="/companies/GSS">компания  GSS-soft</a> также была выделена из материнской компании для коммерциализации
        инновационного проекта.</p>
    <p>У разработчика или автора инновационной идеи есть два базовых пути коммерциализации:</p>
    <ul class="check_list">
        <li>Создание нового бизнеса с целью материализации инновации в новом товаре.</li>
        <li>Передача прав на использование интеллектуальной собственности на основе договорных (рыночных) отношений.
            Это лицензионные и иные соглашения, которые позволяют получать платежи (роялти) за использование прав.</li>
    </ul>
    <p>Выбор формы коммерциализации зависит от многих факторов, часть из которых систематизирована в таблице.</p>
    <p class="table-title"><strong>Выбор формы коммерциализации инновации</strong> <a href="#" rel="tooltip"
                                                                                      data-original-title="В.Д. Маркова. Процесс создания и коммерциализации новинок (маркетинговые аспекты).
       – Новосибирск: НГУ, 2011. – с.87-88.">&sup1</a> </p>
    <table>
        <colgroup>
            <col span="1" style="width: 30%">
            <col span="1" style="width: 35%">
            <col span="1" style="width: 35%">
        </colgroup>
        <thead>
        <th>ФАКТОРЫ/ФОРМА</th>
        <th>СОЗДАНИЕ БИЗНЕСА</th>
        <th>ПЕРЕДАЧА ПРАВ</th>
        </thead>
        <tbody>
        <tr>
            <td>Тип знаний</td>
            <td>Скрытые знания, сложно кодифицировать и составить контракт</td>
            <td>Кодифицированные знания, которые могут быть прописаны и защищены (франчайзинг, патент)</td>
        </tr>
        <tr>
            <td>Доминирующие проблемы</td>
            <td>Информационные, связанные с раскрытием сведений</td>
            <td>Отсутствие требуемых навыков коммерциализации</td>
        </tr>
        <tr>
            <td>Место разработки в отраслевой бизнес-системе</td>
            <td>Часть системы (блоки компьютеров) – системная инновация, ООО НИТ, компания СТБ</td>
            <td>Автономная инновация, которая  может использоваться самостоятельно. Передача прав +
                создание бизнеса, как блоки РИСТЭМ</td>
        </tr>
        <tr>
            <td>Соответствие техническим стандартам</td>
            <td>Инновация не соответствует техническим стандартам, либо эти стандарты еще не утверждены</td>
            <td>Соответствует стандартам, возможна координация деятельности партнеров</td>
        </tr>
        <tr>
            <td>Соответствие техническим стандартам</td>
            <td>Инновация не соответствует техническим стандартам, либо эти стандарты еще не утверждены</td>
            <td>Соответствует стандартам, возможна координация деятельности партнеров</td>
        </tr>
        <tr>
            <td>Требуемые ресурсы</td>
            <td>Требуются специализированные активы (оборудование)</td>
            <td>Требуются значительные финансовые ресурсы</td>
        </tr>
        <tr>
            <td>Время</td>
            <td>Есть запас времени на развитие бизнеса</td>
            <td>Скорость реализации инновации – критический фактор</td>
        </tr>
        </tbody>
    </table>
    <p>В реальной жизни возможны самые разные сочетания этих базовых форм коммерциализации. Многое зависит от
        желаний и решимости инноватора, специфики разработки, доступности ресурсов, наличия / отсутствия барьеров входа
        на рынок и других факторов.</p>
    <p>Ниже приведены возникающие при коммерциализации проблемы и возможные пути их решения.</p>
    <p class="table-title"><strong>Коммерциализация: проблемы и решения</strong></p>
    <table>
        <colgroup>
            <col span="1" style="width: 50%">
            <col span="1" style="width: 50%">
        </colgroup>
        <thead>
        <th>СОЗДАНИЕ БИЗНЕСА</th>
        <th>ДОГОВОРНЫЕ ОТНОШЕНИЯ</th>
        </thead>
        <tbody>
        <tr>
            <td>Проблемы «обременения» активами: появляются постоянные расходы и обязательства, что снижает
                гибкость компании. Проблема создания (консолидации) рынка</td>
            <td>Главная проблема – раскрытие информации о разработке. «Забудут поблагодарить»!</td>
        </tr>
        <tr>
            <td>Пути решения:
                <ul class="check_list">
                    <li>продажа компании, привлечение стратегического инвестора;</li>
                    <li>продажа лицензии с целью расширения рынка</li>
                </ul>
            </td>
            <td>Пути решения: патентование, собственное производство ключевых компонент,
                создание других «крючков» (вспомните пример компании Coca-Cola)</td>
        </tr>
        </tbody>
    </table>

    <p>При использовании договорных отношений возникает установленный Нобелевским лауреатом К. Эрроу
        парадокс раскрытия информации в инновационной сфере. Если вы хотите продать лицензию на новую технологию,
        то потребуется объяснить принцип ее действия, доказать  ее ценность. Но как только информация становится
        доступной потенциальному покупателю, у него не остается причин платить за приобретение лицензии на новые знания.
        В этом суть парадокса раскрытия информации.2 Выход – раскрытие информации при сохранении определенных ноу-хау.</p>
    <div class="inner-block">
        <p>Если вы решили создать новый бизнес, то необходимо подготовить бизнес-план.</p>
    </div>
    <p>Отметим, что за рубежом основатели многих компаний пытались продать свои идеи крупному бизнесу, не найдя покупателей –
        вынуждены были сами заняться бизнесом. Так, Google предлагал себя Yahoo! и Alta Vista,
        Apple – Hewlett Packard и Atari. </p>

</div>