<div class="post-title">
    <h2>Новая функциональность  как источник инноваций</h2>
</div>
<div class="post-description">
    <p>Создатели блоков <a href="/companies/ZSB">РИСТЭМ</a> не побоялись подвергнуть сомнению принятый порядок вещей, они соединили вместе строительный блок
        и фасад здания, создав тем самым новую функциональность продукта.</p>
    <p>Новая комбинация продуктов, их свойств и технологий – важный источник инноваций и новых рынков. Тенденция конвергенции
        новинок (лат. convergere – схождение, сближение) является неизбежным следствием перенасыщения рынков, огромного разнообразия
        предложений, развития сферы услуг и социальных инноваций.<a href="#" rel="tooltip" data-original-title="В.Д.Маркова. Конвергенция новинок //
        Инновации. – 2010, № 3. – с.89-91.  ">&sup1</a> </p>
    <p>Впервые появившийся на рынке плейер компании Sony – это новая комбинация магнитофона и наушников, которые производила компания.</p>
    <p>Изначально плейер был создан как компактный проигрыватель кассет. Однако появление МРЗ-плейера позволило соединить
        возможности записи, хранения и воспроизведения звуков в одном устройстве. Произошло объединение процессов развития
        носителей звуков (грампластинка, кассета, компакт-диск) и технологий их воспроизведения (патефон, проигрыватель, магнитофон,
        плейер и пр.). </p>
    <p>Сотовый телефон, факс, а затем многофункциональное устройство, объединившее факс, принтер и  копир,  – это примеры новых
        комбинаций свойств продуктов, которые позволили получить новую функциональность и создать новые рынки (сегменты). </p>
    <p>Procter&Gamble вывела на рынок шампунь 2 в 1.  Австралийская компания Unistraw наполнила трубочки для молочных коктейлей
        ароматизаторами. Появился растворимый кофе с молоком и сахаром, сок с молоком, компания Weko Pharma вывела на рынок конфеты,
        обладающие лечебными свойствами (разновидность wellness-продуктов), и т.д. </p>
    <p>Если цифровой фотоаппарат еще можно назвать новым продуктом, хотя в нем продукт и технология записи и воспроизведения также
        объединены, то что такое электронный билет – новый продукт (услуга) или новая технология продажи? </p>
    <p>Ожидается, что по мере перехода IT-отрасли в стадию зрелости, информационные технологии будут все шире встраиваться в продукты,
        особенно в smart-продукты. </p>
    <p><span style="text-decoration: underline"> Методической базой</span> новой функциональности являются латеральное мышление и
        морфологический анализ Фрица Цвикки.</p>
    <p>Латеральное мышление характеризуется попытками найти новые точки зрения, позволяющие взглянуть на проблему без ограничений,
        налагаемых логикой и ассоциативными барьерами. В США, например, крупные компании финансово поддерживают функционирование
        клубов, где crazy people (латерально мыслящие, страстно увлеченные, помешанные на чем-то) в располагающей к этому обстановке
        «творят» новые продукты, например, смешивают горчицу с медом. </p>
    <p><strong>Главное – не бояться подвергать сомнению существующий порядок вещей!</strong> </p>
    <p>Суть морфологического анализа состоит в разложении объекта на компоненты. Затем выбирают несколько существенных характеристик,
        в которые вносят изменения, и пытаются соединить их снова. </p>
    <p>В ручке можно выделить чернила, цвет, наконечник и корпус. Затем можно экспериментировать с каждым элементом: заменять его,
        удалять, видоизменять, комбинировать по-новому и пр.  В результате таких «сдвигов на уровне товаров», или латерального
        маркетинга, появились шариковые ручки (заменили чернила), ручки с корпусами из разных материалов, ручки с несколькими цветами
        и пр., то есть произошла дифференциация продукта.</p>
    <p>Примером применения морфологического анализа для решения задач развития бизнеса и поиска новых сфер применения инновационных
        продуктов является трехмерная <a href="/articles/AbelScheme">схема Д.Абеля</a>. </p>
    <p>Также практическим воплощением идей морфологического анализа являются технологические дорожные карты. </p>
    <p>Компания Motorola еще в начале 1970-х гг. разрабатывала  технологические дорожные карты (technology roadmaps), понимая
        технологии в широком смысле как использование достижений науки для решения производственных задач в контексте рынка,
        конкуренции и исторического развития. </p>
    <p>В сфере бизнеса и инновационной деятельности дорожные карты могут стать инструментом стратегического и тактического управления,
        обеспечивая взаимосвязь трех критически важных элементов: потребностей клиентов, продуктов и технологий компании. </p>
    <p>Отметим, что  в сфере услуг умение по-новому комбинировать знания специалистов для предоставления новых и больших выгод
        клиентам – это важная ключевая компетенция сервисной компании. </p>
</div>