<div class="post-title">
    <h2>Барьеры восприятия новинок<a href="#" rel="tooltip" data-original-title="Более подробно о психологических барьерах
    на пути продвижения новинок на рынок можно прочитать в статье нашей выпускницы Президентской программы
    «Менеджер инновационного бизнеса», психолога Ольги Приходченко на сайте  ЦДО НГУ http://www.cae.nsu.ru">&sup1</a></h2>
</div>
<div class="post-description">
    <p>Сложность восприятия новых разработок, особенно тех, которые формируют новые потребности либо замещают
        существующие товары и технологии (как <a href="/companies/ZSB">блоки РИСТЭМ</a>, система потолочных инфракрасных
        обогревателей <a href="/companies/STB">компании СТБ</a>), не позволяет сразу организовать нормальный процесс
        коммуникации с потенциальными потребителями.</p>
    <p>Природа когнитивных барьеров на пути новинок связана с процессом потребления, в котором есть несколько этапов:
        восприятие → виртуальное потребление → фактическое потребление.</p>
    <p><span style="font-style: italic;">Восприятие</span> – один из видов умственно-психических процессов, благодаря которым человек получает знания о внешней
        среде и о самом себе.  Задачи применительно к новинкам – идентификация (или ее невозможность) новинки и подготовка
        сознания человека к ее потреблению. Здесь происходят чисто <span style="font-style: italic;">информационные</span>
        процессы: получение и первичный анализ
        информации на основе предыдущего опыта потребителя, при необходимости – поиск и получение дополнительной информации,
        распознавание новинки.</p>
    <p>Если новинка опознана и оценена как <span style="font-style: italic;">полезная и пригодная</span> для потребления, барьеров восприятия не возникает и наступает
        стадия <span style="font-style: italic;">виртуального потребления</span> – естественный механизм подготовки
        человека к потреблению новинки, она позволяет создать спрос на новинки.
    </p>
    <p>Логика первых двух этапов потребления показана на рис.<a href="#" rel="tooltip" data-original-title="Евстафьев Д. С.
    Продвижение инноваций. СПб, 2001. С. 24–32.">&sup2</a>
    </p>
    <img src="/public/img/articles/head.svg" alt="">
    <p>Если новинка не распознана, <span style="font-style: italic;">признана неизвестной</span>, сознание человека может
        запретить ее  использование. Американцы назвали этот барьер «отсутствием фундаментального знания». Это  значит, что
        <span style="font-style: italic;">потребность</span>, которую призвана удовлетворить инновация,
        <span style="font-style: italic;">не сформирована, либо не осознана</span> –  нужны особые усилия и нестандартные
        методы для преодоления этого барьера.</p>
    <div class="inner-block">
        <p>Джон Медина, молекулярный биолог и нейрофизиолог, считает, что мало кто в бизнесе понимает, как наш мозг обрабатывает
            информацию. При встрече с любым объектом человек задает себе 6 вопросов. Первая пара вопросов:
            «Зачем мне эта штука? Не опасна ли она?».
            Вторая пара вопросов: «Доступен ли продукт по цене? Подходит ли он под мой имидж?».
            Третья пара: «Видел ли я его раньше? Видел ли он меня?» – оценивает инновационность и трендовость продукта. </p>
        <p>В начале 2000 г. ждали бума на электросамокаты. Однако с точки зрения нейрофизиологии этот продукт был обречен,
            так как люди никогда раньше не видели такого устройства и не могли связать его с контекстом своей жизни,
            оценить по 3-ей паре вопросов. Когда же люди смотрят на iPhone, ответы на все 6 вопросов в его пользу,
            потому что фирма Apple уже давно не выпускает продукты, не проконсультировавшись с исследователями мозга
            [<a href="http://www.kommersant.ru/sf" target="_blank">Секрет фирмы</a>, № 11, 2009, с. 62].</p>
    </div>
    <h3>Методы преодоления барьеров восприятия новинок</h3>
    <ul class="check_list">
        <li>Ссылки на уже известные явления</li>
        <p>Эдисон «надел» на свою электролампу абажур, напоминавший покупателям о газовых лампах.<br>
            Интернет-магазины позаимствовали из традиционных магазинов «тележку для покупок».<br>
            В компьютерах используются файлы (англ. – папка), мощность автомобилей измеряется лошадиными силами и т.д. </p>
        <li>Предоставление новинки для бесплатного использования.</li>
        <li>Информирование и обучение потенциальных пользователей (семинары компании <a href="/companies/Signatek">Сигнатек</a>).</li>
        <li>Демонстрации, разъяснения и др.методы повышения коммуникационной наглядности новинки.</li>
    </ul>
    <p>Компания «Стрингер» в Санкт-Петербурге производит лодки из стеклопластика. Не имея опыта пользования такими лодками,
        отечественные потребители первоначально настороженно реагировали на сверкающую глянцевую поверхность, которая,
        по их мнению, должна была царапаться, терять свой вид, на легкий вес лодок, рождавший ощущение ненадежности
        конструкции, и на белоснежный, «маркий и чересчур заметный» цвет лодок. Для преодоления  барьера лодки стали выпускать
        в новом цветовом исполнении (зеленый цвет, хаки, двухцветные).
    </p>
    <p>Отметим, что инновационным продуктам присущи также и традиционные барьеры, возникающие на пути любой новинки:</p>
    <ul class="check_list">
        <li>неудачное позиционирование новинки на рынке;</li>
        <li>ценовые барьеры;</li>
        <li>административные барьеры;</li>
        <li>сопротивление изменениям со стороны персонала компаний, на которых внедряется инновация
            (синдром «технологического страха»);</li>
        <li>здоровый консерватизм потребителей, их менталитет (в одних сферах мы отгораживаемся от западного опыта,
            в других, наоборот, продвижение новинки будет успешным, если оно идет через западных партнеров).
        </li>
    </ul>
    <p>Сложность продвижения инноваций также связана с тем, что бизнес очень консервативен с точки зрения возможности
        влияния на него (далеко не все руководители даже преуспевающих компаний готовы тратить средства на внедрение в
        производство новых разработок, нести коммерческий риск).</p>
</div>