<div class="post-title">
    <h2>Специализированные поставщики</h2>
</div>
<div class="post-description">
    <p>В соответствии с нашей классификацией малых инновационных компаний специализированный поставщик – компания,
        обеспечивающая вклад в бизнес-системы своих компаний-потребителей в форме оборудования, комплектующих,
        технических систем, программных продуктов, систем контроля и автоматизации и т.д.</p>
    <p>Это компании <a href="/companies/ARSTerm">АРС ТЕРМ</a>, <a href="/companies/NIT">НИТ</a>,
        Модульные системы ТОРНАДО, <a href="/companies/Signatek">Сигнатек</a> ……. – они все работают на рынке В2В.  ……(М2М).</p>
    <p>Специализированные поставщики – это, как правило, наукоемкие компании, производящие инновационные продукты и
        технологии для традиционных сфер экономики (топливно-энергетический комплекс, транспорт, строительство,
        силовые ведомства и т.д.). Специализированные поставщики работают с улучшающими (инкрементальными) инновациями,
        формируя и занимая на рынке определенные ниши. Они предлагают потребителям комплексные решения их проблем  в
        части энергосбережения, автоматизации, измерений и контроля, безопасности, причем эти решения не приводят к
        смене технологических укладов потребителей, а направлены, скорее, на повышение эффективности их деятельности.</p>
    <p>У специализированных поставщиков, которые прошли стадию старт-апа и преодолели «долину смерти» Дж.Мура,
        сформирован  круг своих потребителей, которые считают их компетентными специалистами и, по сути, отдали им на
        аутсорсинг наукоемкие товары и услуги.  Инновационное развитие таких компаний происходит через разработку и
        производство необходимых компаниям-потребителям специализированных систем (заказные инновации, pull-стратегия).</p>
    <p>Такие компании, как правило, давно работают на рынке (но появляются и новички), имеют относительно стабильный штат
        сотрудников (в среднем 40-50 человек, есть и больше), собственный отдел разработок и собственное производство.
        Их основной нематериальный актив – экспертные знания в узкой сфере (лидерство по продукту, технологии) +
        умение их комбинировать в соответствии с запросами потребителей. Главное в их работе – репутация компании на рынке и
        партнерство с потребителями.</p>
    <p>У специализированных поставщиков нет своего рынка, а есть лишь рынки, на которых работают компании-потребители.
        Их деятельность во многом  определяется прикладными задачами потребителей.</p>
    <h3>Возможные стратегии развития специализированных поставщиков</h3>
    <ul class="check_list">
        <li>Защита собственной рыночной ниши (стратегия ниши).</li>
        <li>Стратегия кегельбана (в терминологии Дж.Мура) – это постепенный выход в смежные рыночные ниши с сохранением
            ориентации на традиционные сферы экономики (синергия знаний, например, транспорт + энергетика
            у компании <a href="/companies/ARSTerm">АРС ТЕРМ</a>)
            или адаптация продукта для новых крупных отраслей (сотовая связь, <a href="/companies/Signatek">Сигнатек</a>). --- Мур,
            уточнить схожесть Т</li>
        <li>Превращение в специализированную производственную фирму.</li>
        <li>Создание дочерних структур (отпочкование с целью использования синергии знаний, как сделала
            компания <a href="/companies/ARSTerm">АРС ТЕРМ</a>
            или деление с целью сохранения категории малого бизнеса).</li>
    </ul>
    <p><strong>Проблемные моменты</strong> развития специализированных поставщиков: обременение материальными активами, смещение в
        сторону компаний производственного типа. </p>
    <p>В научной сфере наиболее распространенным способом «отпочкования» является создание автором разработки с небольшой
        группой единомышленников, как правило, связанных неформальными отношениями, компании по внедрению нового продукта или
</div>