<div class="post-title">
    <h2>Spin-off  компании</h2>
</div>
<div class="post-description">
    <p>Spin-off компания (от англ. отделение, отпочкование)  – компания, образованная путем «отпочкования» от
        материнской структуры, когда ее покидает группа сотрудников-исследователей, нередко при финансовой поддержке бывших коллег.</p>
    <p>Создание spin-off  компаний – обычная практика в сфере профессиональных услуг и в инновационной сфере на стадиях освоения
        нового продукта или технологии.</p>
    <p>В научной сфере наиболее распространенным способом «отпочкования» является создание автором разработки с небольшой
        группой единомышленников, как правило, связанных неформальными отношениями, компании по внедрению нового продукта или
        технологии на рынок, то есть компания создается для реализации определенного проекта. Успех такой компании во многом
        зависит от степени готовности научной разработки, знания рынка и потенциальных заказчиков, наличия менеджеров или носителей
        предпринимательских способностей в составе команды разработчиков. Обычно в начале своей деятельности такие инновационные
        фирмы во многом опираются на «материнские» компании, пользуясь на льготных условиях исследовательской и производственной базой,
        научным потенциалом и брендом, наработанными связями с партнерами и заказчиками, другими составляющими инфраструктуры. </p>
    <p>Предполагается, что Spin-off компании имеют дело с некоторой степенью технологической неопределенности, поэтому они сами
        занимаются исследованиями и преимущественно разработками, одновременно развивая и продвигая разработанные ими технологии. </p>
    <p><a href="/companies/ARSTerm">Компания АРС ТЕРМ</a>  «отпочковалась» от  НИИ Автоматических приборов, затем она использовала этот же механизм, выделив
        перспективный инновационный проект в отдельную дочернюю компанию <a href="/companies/NIT"> ООО НИТ</a>. </p>
    <p>В таблице приведены сравнительные характеристики двух  механизмов создания инновационных компаний: spin-off механизма и
        <a href="#" rel="tooltip" data-original-title="Данный термин широко используется в США, где путь от идеи изобретателя, к которой он
        пришел у себя дома,  «в гараже» до коммерциализации разработки, был осуществлен многими известными инноваторами. ">«гаражного» механизма</a>,
        под которым понимается создание компании «с нуля», без поддержки сторонних организаций. В ходе исследований мы столкнулись
        с разновидностью «гаражного» механизма при котором инновационный бизнес создается в результате целенаправленного поиска
        идей для коммерциализации (фасадные блоки <a href="/companies/ZSB"> РИСТЭМ</a>,  гель для проведения ультразвуковых
        исследований и др.)</p>
    <p class="table-title"><strong>Сравнительная характеристика механизмов образования инновационных компаний</strong>
        <a href="#" rel="tooltip" data-original-title="Е.А.Алещенко.  Методический подход к  совершенствованию управления в малых
        инновационных компаниях на основе исследования особенностей их бизнес-моделей \ Дисс. на соиск. уч. ст. к.э.н. –
        Новосибирск, 2012. ">&sup1</a></p>
    <table>
        <thead>
            <th></th>
            <th><strong>Spin-off механизм</strong></th>
            <th><strong>Создание компании с нуля</strong></th>
        </thead>
        <tbody>
            <tr>
                <td><strong>Сильные стороны</strong></td>
                <td>
                    <ul>
                        <li>Доступ к ресурсам «материнской» организации, «скрытое» финансирование.</li>
                        <li>Связи в научной среде.</li>
                        <li>Защита от недружественных поглощений.</li>
                    </ul>
                <td>
                    <ul>
                        <li>Интеллектуальная собственность.</li>
                        <li>Личные качества руководителя \ учредителя.</li>
                        <li>Команда единомышленников.</li>
                        <li>Собственные средства, в том числе средства от других бизнесов.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Слабые стороны</strong></td>
                <td>
                    <ul>
                        <li>Неясный статус интеллектуальной собственности.</li>
                        <li>Психологическая сложность ухода сотрудников из науки.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Отсутствие/недостаточность ресурсов на начальных этапах.</li>
                        <li>Угроза недружественных поглощений.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Факторы успеха</strong></td>
                <td>
                    <ul>
                        <li>Степень готовности разработки.</li>
                        <li>Наличие управленческих /предпринимательских качеств у членов команды.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Степень готовности разработки.</li>
                        <li>Инвестиционная / коммерческая привлекательность проекта.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Факторы риска</strong></td>
                <td>
                    <ul>
                        <li>Зависимость от «материнской» организации.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Недостаточная проработанность проекта.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p>В нашей стране такие малые инновационные компании создавались при материнских научно-исследовательских организациях,
        при вузах или предприятиях, имеющих научно-исследовательские подразделения. Множество spin-off фирм выделился из институтов
        Сибирского отделения РАН.</p>
    <p>Новый импульс созданию spin-off  компаний придал Федеральный закон № 217, который, по сути, перевел в правовое поле сложившуюся
        практику развития инновационного предпринимательства на базе вузов и научных организаций.</p>
</div>