<div class="post-title">
    <h2>Виды проектов: уточнение терминологии</h2>
</div>
<div class="post-description">
    <p><strong>Предлагается уточнение широко используемых в сфере проектного менеджмента понятий, приво-
        дится сравнительная характеристика различных видов проектов.</strong></p>
    <p>В деловой литературе и практике для описания проектов наряду с общепринятыми терминами
        «инновационный проект», «инвестиционный проект», «бизнес-план» часто используются смешанные термины типа
        «бизнес-план инновационного проекта», «бизнес-план проекта» и пр. Предлагаю
        разобраться с этими терминами и их содержанием, поскольку это полезно для выбора формы представления
        проекта, его структуризации и описания.</p>
    <p><strong>Проект</strong> — взаимосвязанный комплекс работ, которые должны быть выполнены для достижения поставленной цели.</p>
    <p><strong>Виды проектов</strong> — инновационный проект, инвестиционный проект, некоммерческий проект, социальный проект,
        проект реализации организационных инноваций и пр.</p>
    <p>Бизнес-план — одна из возможных форм представления проектов. Структурированный плановый документ, описывающий направления
        развития бизнеса.</p>
    <p>Итак, проект — это взаимосвязанный комплекс работ, которые должны быть выполнены для достижения
        поставленной цели. Для планирования работ по проекту, а также для представления проекта потенциальным
        инвесторам, кредиторам и иным заинтересованным лицам проект должен быть детализирован и описан в той или иной форме.</p>
    <p><span style="font-style: italic">Описание проекта</span> предполагает выделение ожидаемого результата проекта, сроков
        достижения поставленной цели и других организационных аспектов реализации проекта (на кого ориентирован проект, кто отвечает
        за его реализацию, каковы основные этапы реализации проекта, сколько потребуется денежных средств и иных
        ресурсов, каковы риски проекта и т. д.).</p>
    <p>Конкретная <span style="font-style: italic">структура представления информации о проекте</span> зависит от вида проекта.
        Так, для инновационных проектов не существует четкой структуры и заданной формы их описания, что связано с
        огромным многообразием таких проектов. Тогда как для проектов развития бизнеса, связанных как с созданием нового бизнеса,
        так и с переводом их в новое состояние, чаще всего используется форма описания в виде бизнес-плана.</p>
    <p>Привлекательность этой формы представления проектов объясняется наличием четкой структуры бизнес-плана или некоторого
        прототипа, что существенно облегчает описание проекта. Однако следует иметь в виду, что в западных странах бизнес-планы
        чаще всего используются лишь в сфере <span style="font-style: italic">малого бизнеса</span>.</p>
    <p>Чтобы понять сферы применения различных форм описания проектов и их специфику, сравним наиболее
        распространенные типы проектов: инновационный проект, инвестиционный проект и проект развития бизнеса (табл. 1).</p>
    <p class="table-title"><strong>Сравнительные характеристики различных видов проектов</strong> </p>
    <table>
        <thead>
            <th>Виды проектов/<br> Характеристики</th>
            <th><strong>Инновационный проект</strong></th>
            <th><strong>Инвестиционный проект</strong></th>
            <th><strong>Проект создания/развития бизнеса</strong></th>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2">Рекомендуемая форма представления проекта</td>
            <td>Формы грантодателей, бизнес-ангелов или венчурных фондов</td>
            <td>Инвестиционный мемо рандум, технико-эко номическое обоснование (ТЭО)</td>
            <td>Бизнес-план</td>
        </tr>
        <tr>
            <td>Структура может меняться (чаще не задана)</td>
            <td>Примерная структура известна</td>
            <td>Четкая структура бизнес-плана. Главный вопрос — Как?</td>
        </tr>
        <tr>
            <td>Описываемые ситуации/сферы использования</td>
            <td>Любая стадия инновационного цикла — обоснование идеи, техническая проработка, изготовление опытного образца и т. д.</td>
            <td>Строительство, реконструкция и пр. — крупные, как правило, капиталоемкие проекты</td>
            <td>План развития малого бизнеса, либо обоснование чего-то нового — приобретение оборудования, открытие нового цеха (магазина и пр.)</td>
        </tr>
        <tr>
            <td>Инструмент обоснования принимаемых решений и привлечения:</td>
            <td>грантов, средств бизнес-ангелов или венчурного капитала</td>
            <td>инвестиций</td>
            <td>кредитных ресурсов</td>
        </tr>
        <tr>
            <td>Основные акценты</td>
            <td>Технические аспекты реализации инновации + оценка рынка</td>
            <td>Финансовые риски — расчет финансовых показателей + обоснование продаж</td>
            <td>Комплексность: обоснование продаж и реализуемость (маркетинг + управление + финансы)</td>
        </tr>
        <tr>
            <td>Маркетинг</td>
            <td>Потенциальные потребители + оценка рынка</td>
            <td>Обоснование продаж в динамике</td>
            <td>Комплекс маркетинга + стратегия маркетинга</td>
        </tr>
        <tr>
            <td>Финансы</td>
            <td>Безвозвратность, возможна доля в капитале компании. Бюджет проекта — рост затрат
                по мере движения по стадиям инновационного цикла</td>
            <td>Расчет окупаемости проекта, дисконтирование финансовых потоков</td>
            <td>Платность и возвратность: сроки возврата кредита, его обеспечение, соотношение собственных и заемных средств</td>
        </tr>
        <tr>
            <td>Основные риски</td>
            <td>Технические (реализуемость)</td>
            <td>Финансовые</td>
            <td>Коммерческие</td>
        </tr>
        </tbody>
    </table>
    <p>Соответственно структура представления информации о проекте будет разная.</p>
    <p>При описании <strong>инновационного проекта</strong> важно показать:</p>
    <ul class="check_list">
        <li>суть идеи, при этом важен «язык» изложения материала, который должен быть понятен менеджерам и финансистам,
            а не только узким специалистам;</li>
        <li>на какой стадии инновационного цикла находится проект, и каковы финансовые потребности.
            При последовательном продвижении по стадиям инновационного цикла повышается вероятность
            успешной реализации проекта, но происходит резкий рост затрат;</li>
        <li>техническую осуществимость проекта, а также технические риски и способы их уменьшения;</li>
        <li>наличие объектов интеллектуальной собственности, авторские права и возможности их защиты;</li>
        <li>потенциальные сферы применения создаваемого продукта/технологии;</li>
        <li>источники и условия финансирования проекта.</li>
    </ul>
    <p>При представлении <strong>инвестиционного проекта</strong> структура вопросов, подлежащих описанию, несколько иная:</p>
    <ul class="check_list">
        <li>суть проекта и подробная документация по проекту (инженерно-техническая, строительная и пр.);</li>
        <li>кто реализует проект (описание компании, ее успехи, команда и пр.);</li>
        <li>какие требуются инвестиции (сколько средств и когда), на каких условиях, на что будут направлены средства;</li>
        <li>обоснование окупаемости коммерческого проекта;</li>
        <li>что готовы предложить инвесторам;</li>
        <li>возможные риски проекта и другие важные аспекты.</li>
    </ul>
    
    <p>При этом детальность или степень проработанности информации может быть разной, так, в инвестиционном меморандуме
        с предложением для потенциального инвестора раскрывается полная информация о
        компании, однако суть процессов получения прибыли или бизнес-модель компании остается ее коммерческой тайной.</p>
    <p>При формировании проекта создания или развития бизнеса наиболее привлекателен формат бизнес-плана, поскольку,
        с одной стороны, имеется шаблон бизнес-плана, с другой — в интернете, в книгах по
        бизнес-планированию можно найти примеры бизнес-планов для самых разных отраслей и бизнесов, а также
        подробные руководства по составлению таких планов, включая компьютерные программы. В табл. 2 приведена
        структура бизнес-плана, которая может быть расширена или изменена.</p>
    <p class="table-title"><strong>Возможная структура бизнес-плана</strong> </p>
    <table>
        <colgroup>
            <col span="1" style="width: 25%">
            <col span="1" style="width: 75%">
        </colgroup>
        <thead>
            <th>Раздел</th>
            <th>Содержание раздела</th>
        </thead>
        <tbody>
        <tr>
            <td>1. Резюме</td>
            <td>Основные пункты бизнес-плана в ясной и сжатой (краткой) форме</td>
        </tr>
        <tr>
            <td>2. Анализ отрасли, в которой
                работает компания</td>
            <td>
                <ul class="check_list">
                    <li>характеристика отрасли (стадия жизненного цикла, тип конкуренции и т. д.) и место компании в ней;</li>
                    <li>отраслевые тенденции развития и основные сдвиги в отрасли;</li>
                    <li>отраслевое регулирование (специальные законы, налоги и т. д.);</li>
                    <li>обзор стратегических рынков и товаров компании;</li>
                    <li>конкурентные преимущества компании и т. д.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>3. Товар /услуги, которые
                будут предлагаться на рынок</td>
            <td>
                <ul class="check_list">
                    <li>уникальные потребительские свойства продукции, ее ценность для потребителей;</li>
                    <li>текущее состояние проекта (имеется опытный образец продукции, организовано опытное производство и т. д.);</li>
                    <li>имеются ли объекты интеллектуальной собственности и т. д.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>4. Рынок и конкуренция<br>
                <span style="font-style: italic"> — важнейший раздел, призван показать, что на рынке существует потребность в
                товаре и компания знает, как ее удовлетворить и получить прибыль.</span></td>
            <td>
                <ul class="check_list">
                    <li>потенциальные потребители продукции (численность, сегменты, мотивы покупок и другие важные характеристики);</li>
                    <li>ситуация на рынке (текущая и потенциальная емкость рынка, планируемая доля компании на рынке, барьеры входа и выхода и т. д.);</li>
                    <li>конкуренты (существующие и потенциальные конкуренты, их стратегии, ответные действия компании);</li>
                    <li>конкурентные преимущества компании</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>5. Стратегия маркетинга и план маркетинговых действий</td>
            <td>
                <ul class="check_list">
                    <li>маркетинговые стратегии в области позиционирования продукции и его дальнейшего развития, стратегии конкуренции;</li>
                    <li>система ценообразования на продукцию;</li>
                    <li>организация продаж (каналы сбыта, условия сотрудничества, формы и методы продаж и т. д.);</li>
                    <li>продвижение продукции на рынок (объем затрат, планируемые мероприятия в области рекламы, ПР и стимулирования продаж).</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>6. Производственный план <br>
                 <span style="font-style: italic">— все составляющие технологического процесса, продуманность его организации</span></td>
            <td>
                <ul class="check_list">
                    <li>потребности в основных фондах (земля, здания и сооружения, оборудование и пр.);</li>
                    <li>требуемый персонал (штатное расписание), система его оплаты;</li>
                    <li>система материально-технического снабжения;</li>
                    <li>организация бизнес-процессов, «узкие места»</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>7. Управление <br>
                <span style="font-style: italic">— компетентность команды</span></td>
            <td>
                <ul class="check_list">
                    <li>распределение собственности;</li>
                    <li>ключевые менеджеры и их резюме;</li>
                    <li>организационная структура управления бизнесом</li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>8. Финансовый план — <br>
                <span style="font-style: italic">ключевой с точки зрения эффективности проекта</span></td>
            <td>
                <ul class="check_list">
                    <li>потребность в финансировании (суммы и назначение средств) и возможные источник получения средств;</li>
                    <li>финансовые расчеты по срокам окупаемости проекта;</li>
                    <li>финансовые потоки на период реализации проекта</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Дополнительные разделы</td>
            <td>Оценка рисков проекта</td>
        </tr>
        <tr>
            <td>Приложения</td>
            <td>Анализ рынка.<br>
                Техническое описание продукции.<br>
                Другие важные материалы</td>
        </tr>
        </tbody>
    </table>
    <p>Основным преимуществом бизнес-плана является комплексное представление всех сторон бизнеса: производства,
        маркетинга, финансов, управления. Однако при несомненной важности всех разделов ключевыми
        составляющими любого бизнес-плана являются три раздела — маркетинг, менеджмент и финансы.</p>
    <p>В заключение отметим, что правильное использование терминологии при представлении проектов свидетельствует о
        грамотности менеджмента компании, а понимание сути используемых терминов облегчает формирование проектов и их
        продвижение на рынок.</p>
    <p></p>

</div>