<div id="wrapper">
    <div class="row-fluid">
        <div class="posts span8">
            <div class="post first last">

                <div class="post-img picture">
                    <img src="/public/img/companies/ARSTerm01.jpg" alt="">
                </div>
                <div class="info">
                    <span class="post-date">
                                            <span class="day">12</span>
                                            <span class="month-year">Март, 2012</span>
                                        </span>
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>Компания НПФ «АРС ТЕРМ»</h2>
                    </div>
                    <div class="post-description">
                        <p>Компания НПФ «АРС ТЕРМ» создана в 1992 г. сотрудниками НИИ Автоматических приборов (spin-off компания)
                            для реализации проектов в области энергосбережения для городского электротранспорта. Компания разрабатывает
                            и производит тягловое электрооборудование для городского электротранспорта, устанавливает его на подвижной
                            состав. Среди потребителей – крупнейшие производители троллейбусов, а также российские организации,
                            осуществляющие модернизацию  троллейбусов и трамваев. </p>
                        <p>Компания первой в России разработала электронную систему распределенного управления троллейбусом на
                            CAN-интерфейсе. Реализована дополнительная опция автономного хода троллейбуса. </p>
                        <p>По словам руководителя компании: </p>
                        <blockquote>"<strong>Наша уникальность</strong> в том, что мы можем придумать и сделать продукт, можем его коммерциализировать.
                            Последние разработки компании сделаны для троллейбусов с большой дальностью автономного хода,
                            что позволяет сделать город более красивым, освободив его от проводов."</blockquote>
                        <p>Мы решили использовать наши наработки, которые были сделаны для элетротранспорта – источники питания,
                            преобразователи напряжения, в другой сфере – в области энергетики (одна из возможных стратегий развития
                            специализированного поставщика). </p>
                        <p>В 2010 г. мы создали новую дочернюю компанию – ООО НИТ (наука, инновации, технологии)  для развития
                            новых направлений деятельности в отраслях энергетики и утилизации опасных отходов. Компания уже сделала
                            опытный образец плазменной установки на основе высоковольтного плазматрона, по сути, это «электрическая
                            зажигалка», которая будет использоваться вместо мазутной для теплоэлектростанций.  Компания стала резидентом
                            Сколково, проектом заинтересовалась компания РусГидро. </p>
                        <p><strong>Успех нашей компании</strong> – это востребованный продукт, который работает. Сколково для нас не показатель успеха, а определенный этап развития и достижения результата, а результат – это сделать продукт, решить проблему потребителя за счет нашей разработки.
                            Мы не привлекаем инвесторов, больше ориентируемся на государственную поддержку и заказчиков. </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span4 sidebar hidden-phone">
            <div class="widget first">
                <h3 class="title">Справка</h3>
                <p>Компания производить инновационную энергосберегающую электротехническую продукцию: оборудование для
                    городского электротранспорта; малогабаритные сварочные аппараты инверторного типа; источники питания
                    для высокотехнологичных установок и приборов. </p>
                <p>Специфика и новизна продукта –  энергосберегающие технологии для троллейбусов с большой дальностью
                    автономного хода, обеспечивающие движение без питания от контактной сети (30 км и 60 км без контактной сети).</p>
            </div>
            <div class="widget">
                <strong>Конкурентные преимущества компании:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Снижение экологического ущерба окружающей среде.</li>
                    <li><i class="fa-icon-chevron-right"></i>Экономическая выгода  потребителей от внедрения наших инноваций.</li>
                    <li><i class="fa-icon-chevron-right"></i>Высокое качество продукции компании.</li>
                </ul>
            </div>
            <div class="widget">
                <strong>Признание:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>АРС ТЕРМ удостоен знака «Стандарт качества» как одно из лучших
                        научно-производственных предприятий г.Новосибирска (2005 г.).</li>
                    <li><i class="fa-icon-chevron-right"></i>Действительный член Международной ассоциации предприятий
                        городского электротранспорта (МАП ГЭТ).</li>
                </ul>
            </div>
            <div class="widget last">
                <a href="http://www.npfarsterm.ru  " target="_blank"><i class="fa-icon-globe"></i><strong> www.npfarsterm.ru</strong></a>
            </div>
        </div>
        <div class="span8 post-comment">
            <p style="font-style: italic">комментарий к статье</p>
            #{include 'articles/spinoff.html' /}
        </div>
    </div>
</div>


