<div id="wrapper">
    <div class="row-fluid">
        <div class="posts span8">
            <div class="post first last">

                <div class="post-img picture">
                    <img src="/public/img/companies/NIT01.jpg" alt="">
                </div>
                <div class="info">
                    <span class="post-date">
                                            <span class="day">12</span>
                                            <span class="month-year">Март, 2012</span>
                                        </span>
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>ООО НИТ (наука – инновации – технологии) </h2>
                    </div>
                    <div class="post-description">
                        <p>Компания создана сотрудниками компании  <a href="/companies/ARSTerm">НПФ АРС ТЕРМ</a> в 2010 году для развития новых
                            направлений деятельности в отраслях энергетики и утилизации опасных отходов с опорой на
                            наработки материнской компании.  По сути, <a href="/companies/ARSTerm">АРС ТЕРМ</a> выделила инновационный проект в отдельный бизнес.
                            Новая компания стала резидентом бизнес-инкубатора г.Новосибирска, как старт-ап получила финансовую
                            поддержку департамента промышленности и предпринимательства Мэрии для создания опытного образца продукции.
                            В настоящее время компания вышла на федеральный уровень, стала резидентом Сколково. Разработкой
                            заинтересовалась компания РусГидро, которая включает устройство в свой план развития,  есть запросы из
                            других стран. Менеджеры компании считают, что у этого проекта большие перспективы не только в России,
                            поскольку установка может использоваться на любой теплоэлектростанции. </p>
                        <p>Продукт ООО НИТ – техническое  устройство для безмазутного розжига и подсветки энергетических
                            угольных котлов – комплект пылеугольных грелок на основе высоковольтного плазматрона, оснащённых
                            источником питания (преобразователем напряжения), электронной системой управления и системой подачи
                            угольной пыли. Выгоды потребителей – отказ от мазутного хозяйства, переход на уголь, который дешевле
                            мазута и его запасов больше. </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span4 sidebar hidden-phone">
            <div class="widget first">
                <h3 class="title">Справка</h3>
                <p>Компания занимается разработкой и производством плазменного оборудования для энергетики.<p>
                <p>Специфика и новизна продукции – создана «электрическая зажигалка» на основе  высоковольтного
                плазматрона для розжига и подсветки энергетических угольных котлов вместо мазутной установки. Подана заявка на патент. </p>
            </div>
            <div class="widget">
                <strong>Конкурентные преимущества компании:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Инновационная технология безмазутного сжигания угля.</li>
                    <li><i class="fa-icon-chevron-right"></i>Экономическая выгода потребителей от внедрения инновации: отказ от
                        мазутного хозяйства, переход на более дешевый уголь.</li>
                    <li><i class="fa-icon-chevron-right"></i>Снижение экологического ущерба окружающей среде.</li>
                </ul>
            </div>
            <div class="widget">
                <strong>Ключевые потребители:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>ОАО «РусГидро»</li>
                    <li><i class="fa-icon-chevron-right"></i>интерес проявили фирмы Германии, Сербии</li>
                </ul>
            </div>
            <div class="widget">
                <strong>Признание:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Грант фонда «Энергия без границ» (2012 г.). </li>
                    <li><i class="fa-icon-chevron-right"></i>Резидент Сколково (2012 г.)</li>
                    <li><i class="fa-icon-chevron-right"></i>Резидент Новосибирского бизнес-инкубатора МАУ г. Новосибирска
                        «Городской центр развития предпринимательства».</li>
                </ul>
            </div>
            <div class="widget last">
                <a href="http://www.npfarsterm.ru" target="_blank"><i class="fa-icon-globe"></i><strong> www.npfarsterm.ru</strong></a>
            </div>

        </div>
    </div>
</div>


