<div id="wrapper">
    <div class="row-fluid">
        <div class="posts span8">
            <div class="post first last">

                <div class="post-img picture">
                    <img src="/public/img/companies/Signatek01.jpg" alt="">
                </div>
                <div class="info">
                    <span class="post-date">
                                            <span class="day">12</span>
                                            <span class="month-year">Март, 2012</span>
                                        </span>
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>Компания "Сигнатек"</h2>
                    </div>
                    <div class="post-description">
                        <p>Сигнатек является старейшим инновационным предприятием города (создан в 1991 г.),
                            вырос из кооператива на базе Института автоматики и электрометрии СО РАН
                            (<a href="/articles/spinoff">spin-off компания</a>).
                            Компания вышла на рынок систем цифровой записи информации и за эти годы стала одним из ведущих
                            разработчиков профессионального оборудования для оперативно-технических мероприятий для силовых
                            структур России. Компания гордиться тем, что практически все силовые структуры работают на ее технике.
                        </p>
                        <p>Рассказывает руководитель компании:
                            «<strong>Уникальность нашей компании</strong> в том, что мы очень плотно взаимодействуем с
                            потребителями из силовых структур, постоянно работаем над качеством, совершенствуем оборудование.
                            Наши аппаратно-программные комплексы работают по всей стране в постоянном режиме  24 часа 7 дней в
                            неделю  365 дней в году. Техника работает годами, некоторая – десятилетиями, надежность – очень
                            высокая. Зачастую наши разработки лучше, чем аппаратные решения других производителей.
                            Это наши преимущества по сравнению с московскими и питерскими фирмами, с которыми мы конкурируем.
                            А за Уралом таких фирм просто нет. </p>
                        <p>Начиная с 1997 года, мы  регулярно проводим собственные всероссийские семинары по вопросам
                            технологического обеспечения оперативно-технических мероприятий. Раньше собирали порядка
                            150 человек со всей страны, сейчас пришлось разделить семинары по ведомствам. Специалисты
                            приезжают послушать, что и как мы делаем, куда движемся. Репутация у нас высокая.</p>
                        <img class="img-right" src="/public/img/companies/Signatek02.png" alt="">
                        <p><strong>Успех нашей компании</strong> – это отношение к нам, репутация и известность компании,
                            география продаж наших продуктов, грамоты и благодарственные письма от наших потребителей.
                            Основные наши объемы – это гособоронзаказ. Это специфический, закрытый и узкий рынок,
                            связанный с аспектами национальной безопасности.</p>
                        <p>Также мы предлагаем технические средства для операторов связи и производителей
                            телекоммуникационного оборудования. Рынок очень интересный, емкий, но войти туда не так просто.
                            Мы сертифицировали и поставили оборудование для операторов связи в Казахстане, начали работать
                            с компанией Siemens, сделали по их заказу оборудование. На нас вышла известная шведская компания
                            Ericsson, предлагает создавать для них оборудование …».</p>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span4 sidebar hidden-phone">
            <div class="widget first">
                <h3 class="title">Справка</h3>
                <p>Компания работает на рынке технических средств обеспечения законного перехвата информации.
                    Специфика и новизна продукции – разработка и производство специальных технических средств записи,
                    обработки, хранения и архивирования информации для государственных структур, операторов связи и
                    производителей телекоммуникационного оборудования. </p>
            </div>
            <div class="widget">
                <strong>Конкурентные преимущества компании:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Высокая репутация компании на узком специализированном рынке.
                    </li>
                    <li><i class="fa-icon-chevron-right"></i>Высокая надежность аппаратно-программных комплексов компании, которые работают в  режиме 24/7/365.
                    </li>
                    <li><i class="fa-icon-chevron-right"></i>Решение проблем клиентов. ОКР по гражданским и военным стандартам.
                    </li>
                    <li><i class="fa-icon-chevron-right"></i>Собственная производственная база.
                    </li>
                </ul>
            </div>
            <div class="widget">
                <p><strong>Признание:</strong> Работа компании отмечена многочисленными наградами и благодарственными письмами.
                    «Сигнатек» – резидент Технопарка Новосибирского Академгородка, член Ассоциации документальной электросвязи,
                    член ассоциации «СибАкадемСофт».
                </p>
            </div>
            <div class="widget last">
                <a href="http://www.signatec.ru" target="_blank"><i class="fa-icon-globe"></i><strong> www.signatec.ru</strong></a>
            </div>
            <div class="clearfix"></div>

        </div>


    </div>
</div>