<div id="wrapper">
    <div class="row-fluid">
        <div class="posts span8">
            <div class="post first last">

                <div class="post-img picture">
                    <img src="/public/img/companies/STB01.jpg" alt="">
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>СТБ (Строительные технологии будущего)</h2>
                    </div>
                    <div class="company-motto">
                        <p>«Стройте с теплом!»</p>
                    </div>
                    <div class="post-description">
                        <p>Компания «Строительные технологии будущего» (СТБ) создана в 2008 году для коммерциализации
                            инициативной разработки одного из владельцев компании. Разработка – инфракрасная резистивная
                            пленка создана, по сути, «в гараже», запатентована. «Давным-давно мой друг – мы с ним являемся
                            владельцами компании, он руководит разработками и производством, а я являюсь генеральным
                            директором – изобрел эту краску, намешал ее в гараже. Мы поняли, что она греет, стали думать,
                            куда ее можно применить. И постепенно, идея за идеей, из этого получилось целое производство», –
                            говорит директор компании.</p>
                        <p>По нашей классификации инновационных компаний СТБ является специализированным наукоемким
                            поставщиком, работающим в пространстве технологий обогрева.</p>
                        <p>Высокая репутация компании делает ее заметной на узком, но емком профессиональном рынке.</p>
                        <p>Создав компанию, директор прошла обучение на Президентской программе <strong>«Менеджер инновационного бизнеса»</strong>,
                            а через несколько лет – на программе <strong>МВА «Стратегический менеджмент» в НГУ</strong>. Коммерческий директор
                            прошел обучение на Президентской программе <strong>«Маркетинг» в НГУ</strong>.</p>
                        <h3>В чем уникальность компании?</h3>
                        <img class="img-right" src="/public/img/companies/STB02.png" alt="">
                        <p>Директор компании отмечает: «Мы динамично развиваемся, поскольку горим одной идеей и общей
                            целью. Наши сотрудники инициативны – даже оборудование, на котором мы работаем, на 99 %
                            изобретено или доработано в компании. Мы команда единомышленников, готовая временно терпеть
                            лишения для достижения высоких результатов: то, что наши зарубежные конкуренты могут реализовать
                            при значительных инвестициях (для примера, когда корейская компания HendLift изобрела свою пленку,
                            она получила полтора миллиона долларов инвестиций), мы можем осуществить своими силами и ресурсами.
                            У нас свой инновационный центр, который постоянно занимается разработками. Появляется идея –
                            делаем опытные образцы – экспериментирум, а затем продвигаем на рынок. То есть наша уникальность –
                            это общая цель, команда, инициативность, постоянное движение вперед. Уникальна у нас и часть
                            продукции – есть похожие продукты для бетона и емкостей в Германии, но они греют с использованием
                            провода, что может вызвать перегрев, неравномерность нагрева.</p>
                        <p><strong>Успех нашей компании</strong> – это высокая репутация на строительном рынке, быстрый рост
                            компании (сейчас у нас работает около 100 человек), постоянное расширение ассортимента продукции
                            на основе пленочного нагревателя, готовность и умение решать проблемы клиентов. Так, по просьбе
                            пчеловодов мы сделали нагреватели для емкостей. Перед фасовкой мед необходимо нагревать до 37C&deg в
                            больших емкостях, тогда он не теряет целебные свойства.  Оказалось, что это очень актуально, и рынок емкий. Для испанской фирмы мы греем компоненты сноубордов, для РЖД делаем  покрытие для переходов между стрелками, где люди постоянно падают, эту продукцию мы сертифицировали на безопасность для жизни, так как это связано с высоким напряжением, изготавливаем антиобледенительные дорожки на ступени, греем трубопроводы, недавно начали изготавливать сушилки для дерева, делаем разработки для заводов ЖБИ. У нас много идей и наработок».
                        </p>
                        <blockquote>Миссия нашей компании: технологии, согревающие мир. Мы греем там, где другие отказываются.
                            Мы можем прогреть в принципе все, любую поверхность.</blockquote>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span4 sidebar hidden-phone">
            <div class="widget first">
                <h3 class="title">Справка</h3>
                <p>Компания СТБ производит <strong>инфракрасные обогреватели</strong> для дома и промышленного использования, в том
                    числе для обогрева материалов и конструкций сложной геометрии (трубы, столбы, ступени и пр.). </p>
                <p>Специфика и новизна продукта – инновационная система обогрева на основе инфракрасной резистивной
                    пленки (теплоизлучающие пленки с удельным сопротивлением 10 – 5 млн. Ом/см2 с
                    равномерным тепловым полем).</p>
            </div>
            <div class="widget">
                <p><strong>Патенты и сертификаты:</strong> патент на электрообогреватель, патент на трубы, патент на термоэлектрический мат,
                    пожарные сертификаты и сертификаты соответствия на систему обогрева, трубы, резиновые дорожки,
                    потолочные кассеты.</p>
            </div>
            <div class="widget">
                <p><strong>Ключевой продукт:</strong> системы прогрева бетона для  строительных компаний России и СНГ.
                    Оборудование использовали при строительстве моста через Волгу, при строительстве аэродромных покрытий,
                    на строительстве объектов в Сочи, Казани и т.д.</p>
            </div>
            <div class="widget">
                <strong>Конкурентные преимущества систем обогрева:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Равномерный подвод тепла по всей обогреваемой площади,
                        безинерционность (при включении  сразу выделяется тепловая энергия), мягкий нагрев в интервале до 70С&deg.</li>
                    <li><i class="fa-icon-chevron-right"></i>Простота, компактность и удобство в использовании и хранении.</li>
                    <li><i class="fa-icon-chevron-right"></i>Резистивный материал не поддерживает горение, нетоксичен.</li>
                    <li><i class="fa-icon-chevron-right"></i>Энергосберегающая технология. Экономическая выгода у покупателей от
                        внедрения инноваций.</li>
                </ul>
                <p>Предлагаемые системы инфракрасного отопления это отечественная конкурентоспособная продукция производителям из
                    Кореи и Китая, Германии и США.</p>
            </div>
            <div class="widget last">
                <a href="http://istb.ru/" target="_blank"><i class="fa-icon-globe"></i><strong>istb.ru</strong></a>
            </div>
            <div class="clearfix"></div>

        </div>


    </div>
</div>