<div id="wrapper">
    <div class="row-fluid">
        <div class="posts span8">
            <div class="post first last">

                <div class="post-img picture">
                    <img src="/public/img/companies/ZSB01.jpg" alt="">
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>"Завод строительных блоков"</h2>
                    </div>
                    <div class="post-description">
                        <p>Компания создана в 2010 г. Идея продукта появилась в результате целенаправленного поиска
                            свободной ниши на рынке строительных материалов.</p>
                        <p>Рассказывает один из владельцев компании: </p>
                        <p>«Мой партнер окончил строительный университет, я сам люблю искать что-то новое. Мы хотели
                            сделать
                            продукт, которого на рынке не было. … Натолкнулись на интересный факт – люди в средней
                            полосе России
                            делают красивые фасады малоэтажных домов. Поэтому у нас возникла идея объединить
                            строительный блок
                            с фасадом, чтобы это была монолитная конструкция, чтобы не надо было ничего клеить (как
                            сейчас клеят),
                            чтобы не было разрушений. </p>
                        <p>Собрали строительные блоки, которые были на рынке, посмотрели фасады и начали
                            экспериментировать.
                            Югославы предлагали нам завод по производству блоков, однако у них конструкция настолько
                            сложная и
                            неудобная, что мы отказались.</p>
                        <blockquote>"Мы потратили два года, чтобы объединить строительный блок и фасад"</blockquote>
                        <p>Оказалось, что по академической науке это сделать невозможно. Когда через два года задуманное
                            все-таки
                            получилось, мы пришли к профессору – специалисту по бетону, однако он сказал: «Молодые люди,
                            а вы читали
                            хоть один учебник по бетону? Такого не бывает, я с вами разговаривать не буду». Мы нашли
                            другую лабораторию,
                            где молодые люди сказали: «Давайте попробуем». Они провели испытания, сказали, что это супер
                            разработка и
                            порекомендовали запатентовать технологию. Что мы и сделали и теперь продаем лицензии на нашу
                            технологию,
                            регулируя территорию продажи.</p>
                        <p>В чем уникальность нашей компании? – в первую очередь, в продукте. А также во мне и моем
                            партнере.
                            У нас есть желание делать что-то новое, ведь можно купить франшизу и делать, что тебе
                            предлагают.
                            Таких как мы – много, и это хорошо. Но на тысячу населения нас очень мало!</p>
                        <p>Успех нашей компании – это признание потребителей. Нашу торговую марку РИСТЭМ начинают
                            узнавать.
                            Действует сарафанное радио. Ведь мы предлагаем потребителям реальную удобную новинку, по
                            сути, кусок стены,
                            с которым делать больше ничего не надо. Про мир не могу сказать, но в Европе аналогов в
                            таком удобном
                            конструктиве точно нет». </p>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span4 sidebar hidden-phone">
            <div class="widget first">
                <h3 class="title">Справка</h3>
                <p>Компания производить строительные фасадные блоки для малоэтажного строительства
                    по собственной запатентованной технологии (блоки РИСТЭМ), а также продает лицензии на свою
                    технологию.</p>

                <p>Специфика и новизна продукта – соединение вместе строительного блока и фасада (
                    <a href="/articles/newFunctionality">новая функциональность продукта</a>).</p>
            </div>
            <div class="widget">
                <strong>Конкурентные преимущества фасадных блоков РИСТЭМ:</strong>
                <ul>
                    <li><i class="fa-icon-chevron-right"></i>Снижение стоимости и сроков строительства наружных стен
                    </li>
                    <li><i class="fa-icon-chevron-right"></i>Эксплуатационные свойства: теплоэффективность, прочность,
                        влагостойкость,
                        экологичность, не требуется дополнительной отделки наружных стен.
                    </li>
                </ul>
            </div>
            <div class="widget last">
                <a href="http://superblok.org/" target="_blank"><i class="fa-icon-globe"></i><strong>
                    superblok.org</strong></a>
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="span8 post-comment">
            <p style="font-style: italic">комментарий к статье</p>
            #{include 'articles/newFunctionality.html' /}
        </div>

    </div>
</div>