#{extends 'main.html' /}
#{set title: messages.get('home.title')/}


<div id="main">
    <div class="container">
        <section>
            <div class="row-fluid article">
                    <h3>ООО «Завод строительных блоков»</h3>
                <div class="span8 article-main">
                    <p>Компания создана в 2010 г. Идея продукта появилась в результате целенаправленного поиска
                        свободной ниши на рынке строительных материалов.</p>
                    <p>Рассказывает один из владельцев компании: </p>
                    <p>«Мой партнер окончил строительный университет, я сам люблю искать что-то новое. Мы хотели сделать
                        продукт, которого на рынке не было. … Натолкнулись на интересный факт – люди в средней полосе России
                        делают красивые фасады малоэтажных домов. Поэтому у нас возникла идея объединить строительный блок
                        с фасадом, чтобы это была монолитная конструкция, чтобы не надо было ничего клеить (как сейчас клеят),
                        чтобы не было разрушений. </p>
                    <p>Собрали строительные блоки, которые были на рынке, посмотрели фасады и начали экспериментировать.
                        Югославы предлагали нам завод по производству блоков, однако у них конструкция настолько сложная и
                        неудобная, что мы отказались.</p>
                    <p><strong>Мы потратили два года</strong>, чтобы объединить строительный блок и фасад.</p>
                    <p>Оказалось, что по академической науке это сделать невозможно. Когда через два года задуманное все-таки
                        получилось, мы пришли к профессору – специалисту по бетону, однако он сказал: «Молодые люди, а вы читали
                        хоть один учебник по бетону? Такого не бывает, я с вами разговаривать не буду».  Мы нашли другую лабораторию,
                        где молодые люди сказали: «Давайте попробуем».  Они провели испытания, сказали, что это супер разработка и
                        порекомендовали запатентовать технологию. Что мы и сделали и теперь продаем лицензии на нашу технологию,
                        регулируя территорию продажи.</p>
                    <p>В чем уникальность нашей компании?  – в первую очередь, в продукте. А также во мне и моем партнере.
                        У нас есть желание делать что-то новое, ведь можно купить франшизу и делать, что тебе предлагают.
                        Таких как мы – много, и это хорошо. Но на тысячу населения нас очень мало!</p>
                    <p>Успех нашей компании – это признание потребителей. Нашу торговую марку РИСТЭМ начинают узнавать.
                        Действует сарафанное радио. Ведь мы предлагаем потребителям реальную удобную новинку, по сути, кусок стены,
                        с которым делать больше ничего не надо.  Про мир не могу сказать, но в Европе аналогов в таком удобном
                        конструктиве точно нет». </p>
                </div>
                <div class="span3">
                    <p>Компания производить строительные фасадные блоки для малоэтажного строительства
                        по собственной запатентованной технологии (блоки РИСТЭМ), а также продает лицензии на свою технологию.</p>
                    <p>Специфика и новизна продукта – соединение вместе строительного блока и фасада (новая функциональность продукта).</p>
                    <strong>Конкурентные преимущества фасадных блоков РИСТЭМ:</strong>
                    <ul>
                        <li>Снижение стоимости и сроков строительства наружных стен</li>
                        <li> Эксплуатационные свойства: теплоэффективность, прочность, влагостойкость,
                            экологичность, не требуется дополнительной отделки наружных стен.</li>
                    </ul>
                    <a href="http://superblok.org/" target="_blank"><strong>Сайт компании</strong></a>
                </div>
            </div>
        </section>
    </div>
</div>
