#{extends 'main.html' /}

<div id="wrapper">

    <div id="filters">
        <ul class="option-set" data-option-key="filter">
            <li><a href="#filter" class="selected" data-option-value="*">Все</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".IT">Информационные технологии</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".energy">Энергетика</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".building">Строительство</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".transport">Транспорт</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".telecommunications">Телекоммуникации</a></li>
            <li>/</li>
        </ul>
    </div>

    <div id="wall" class="row-fluid">
    #{list items:companies, as:'company'}
        <div class="span3 item ${company.industryTag}">
            <div class="picture">
                <a class="image" href="companies/${company.name}" title="Title"><img src="public/img/companies/${company.name}.jpg" alt=""/></a>
                <div class="description">
                    #{include '/companies/' + company.name + 'CompanyTeaser.html' /}
                </div>
                <div class="meta">
                    <span><i class="fa-icon-cogs"> </i>${company.industry}</span>
                </div>
            </div>
        </div>
    #{/list}
    </div>

</div>
<!-- end: Wrapper  -->
