#{extends 'main.html' /}
#{set title: messages.get('home.title')/}

<div id="wrapper">
    <div id="wall" class="row-fluid">
        #{list items:articles, as:'article'}
        <div class="span3 item">
            <div class="picture">
                <a class="image" href="/articles/${article.name}" title="Title"><img src="public/img/articles/${article.name}.jpg" alt=""/></a>
                <div class="description">
                    #{include 'articles/' + article.name + 'teaser.html' /}
                </div>
                <div class="meta">
                    <span><i class="fa-icon-calendar"></i>1 June 2011</span>
                    <span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
                    <span><i class="fa-icon-heart-empty"></i> 88</span>
                </div>
            </div>
        </div>
        #{/list}
    </div>
</div>

*{<div class="production_item span3">}*
*{<div class="production_photo" style="background-image: url(${play.mvc.Router.reverse(play.vfs.VirtualFile.fromRelativePath('public/images/production/' + product.imageLinks.get(0).name))})">}*
    *{<div class="production_photo" style="background-image: url(${play.mvc.Router.reverse(play.vfs.VirtualFile.fromRelativePath('public/images/production/' + product.image))})">}*
        *{<a href="@{Application.show(product.url)}"></a>}*
    *{</div>}*
    *{<div class="production_description">}*
        *{<h3><a href="@{Application.show(product.url)}">${product.name}</a></h3>}*
    *{</div>}*
*{</div>}*
