#{extends 'main.html' /}

<div id="wrapper">
    <div id="wall" class="row-fluid">
        #{list items:companies, as:'company'}
        <div class="span3 item">
            <div class="picture">
                <a class="image" href="/companies/${company.name}" title="Title"><img src="public/img/companies/${company.name}.jpg" alt=""/></a>
                <div class="description">
                    #{include 'companies/' + company.name + 'CompanyTeaser.html' /}
                </div>
                <div class="meta">
                    <span><i class="fa-icon-cogs"> </i>${company.industry}</span>
                </div>
            </div>
        </div>
        #{/list}
    </div>
</div>

*{<div class="production_item span3">}*
*{<div class="production_photo" style="background-image: url(${play.mvc.Router.reverse(play.vfs.VirtualFile.fromRelativePath('public/images/production/' + product.imageLinks.get(0).name))})">}*
    *{<div class="production_photo" style="background-image: url(${play.mvc.Router.reverse(play.vfs.VirtualFile.fromRelativePath('public/images/production/' + product.image))})">}*
        *{<a href="@{Application.show(product.url)}"></a>}*
    *{</div>}*
    *{<div class="production_description">}*
        *{<h3><a href="@{Application.show(product.url)}">${product.name}</a></h3>}*
    *{</div>}*
*{</div>}*
